/* 
main {
    background: url("../asset/main.jpg") center/cover no-repeat; 
    width: 100%;
    height: 500px;
} */

/* .container{
    display: flex; 
    flex-diretion: collum; 
}

main{
    flex-growth: 3;
}

.star{
    background: radial-gradient(ellipse at top, #e66465, transparent);
    /* background: linear-gradient(to right top, blue 10%, black 70%); */
} */
