.main_filter--option{
    margin-top: 40px;
}
.main_inner{
    padding: 0 35px;
    margin:20px 0;
}

.icon_pokemon{
    position: fixed;
}

.pokemon-card, .pokemon-card-f {
    width: 180px;
    min-height: 180px;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(34,59,87);
    padding-left: 5px;
    padding-bottom: 5px;
}

.filter_evolve{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.evolve--mega, .evolve--gmax{
    background-color: transparent;
    border: 2px solid #fbbf24;
    box-shadow: 0px 0px 2px 0.5px rgb(253,230,138);
    border-radius: 4px;
    width: 130px;
    color: #fbbf24;
}

.evolve--mega:hover, .evolve--gmax:hover{
    background-color: rgb(253,230,138);
    color: black;
    cursor: pointer;
}

.button:hover{
    cursor: pointer;
}

.button--type{
    padding: 2px; 
    border-radius: 5px;
    margin: 0 2px;
    filter: brightness(0.8); 
}

.button--types{
    display: flex;
}

.pokemon-name{
    margin-bottom: 5px;
}
.image-box {
    margin: 0 auto;
    margin-top: 10px;
    width: 150px;
    height: 100px;
    border-radius: 8px;
}

.pokemon-image{
    width: 110px;
    margin-left: 20px;
    margin-top: -5px;
    filter: drop-shadow(10px 5px 2px rgb(220,220,208, 0.8));
}

label{
    color: white;
    font-size: 16px;
}

.main_inner{
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}

.main_filter--searchBar, .main_filter--option{
    position: fixed;
    width: 300px;
}

.main_filter{
    width: 300px;
}

.main_list--cards{
    display: flex; 
    flex-wrap: wrap;
    width: 1000px;
}

.filter_type{
    background-color: transparent;
    margin: 5px;
    padding: 3px 5px; 
    border-radius: 10px;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
}

.button{
    margin: 0 auto; 
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border: 2px solid rgb(70,110,155);
    box-shadow: 0px 0px 4px 2px rgb(70,110,155);
    border-radius: 20px;
    padding: 4px;
    text-align: center;
    color: rgb(180,235,255);
}

.button:hover{
    background-color: rgb(180,235,255);
    color: black;
}

.button--more{
    width: 120px;
}

.button--filter{
    margin-top: 10px;
    width: 90px;
}

.clickButton{
    background-color: red;
    display: inline-block;
}

#searchBar_input, #searchBar_submit{
    padding: 5px;
    border: none;
}

#searchBar_input:hover, #searchBar_input {
    outline: none;
}

#searchBar_input{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#searchBar_submit{
    margin-left: -5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.notFound{
    width: 100%; 
    height: 90px;
    margin: 0 50px;
    text-align: center;
    padding-top: 40px;
    color: rgb(180,235,255); 
    border: 2px solid rgb(180,235,255);
    box-shadow: 0px 0px 10px 2px rgb(180,235,255);
    border-radius: 5px;;
}

::-webkit-scrollbar {
    width: 12px;
  }
  
::-webkit-scrollbar-thumb {
    background-color: rgb(199,207,219);
    border-radius: 3px;
}
  
::-webkit-scrollbar-track {
    background-color: gray;
}