* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

body, h1, h2, h3, p, ul, li, a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline; 
}
